
<!DOCTYPE html>
<html lang="en">

<body style="margin-left: 40%;  overflow: hidden; ">

<form style="margin-top: 20%"  [formGroup] = "formGroup" (ngSubmit)="onSubmit()">

        <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" id="input"  accept=".json,.xlsx,.pdf,.png,.jpeg" (change)="onFileChange($event)" class="upload-input" />
                
            </div>
            <label for="file-upload" class="custom-file-upload" style="width: 240% ; margin: 20px"><small>{{fileName}}</small></label>

            
            
     <input type="submit"  class="btn btn-info "  [disabled]="formGroup.invalid" value="upload" />

</form>
 </body>
</html>

