<!-- 
<html>
  <header>

      <marquee behavior="scroll" direction="right">  <h1>File Upload !</h1></marquee>

  
  </header>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <body >
        
        <div class="row" style="height: 6%;">
            <div class="column" style="width:20% ;">
                <img src="assets/saskenlogo.png" style="width:fit-content; height:fit-content; height: 60px; margin: 5px"alt="" >
                <!-- Logo Text -->
            </div>
            <div class="column" style="width: 60%; text-align: center">
              <h1 style="color: blueviolet">File Upload</h1>
            </div>
            <div class="column" style="width: 20%;">
              <h6 style="color: grey; text-align: right; margin: 15px">version- 0.0.4</h6>
             </div>
          </div>
          <br>
         <hr >
          
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          
          <div class="row">
            <div class="leftcol" style="overflow: auto">
                <app-file-uploader></app-file-uploader>
            </div>
            
            
            <div class="leftcol" style="overflow: auto" >
                <app-file-list></app-file-list>
            </div>
          </div>
          
         
          <div class="footer">
              <hr >
              <h6 class="text-muted">©Copyright Sasken Technologies Ltd.</h6>
            </div>
      </body>

</html>